<!-- banner start  -->
<div class="contain-fluid">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000" *ngFor="let b of bannerResult;let i=index"
        [ngClass]="{active:i===1}">
        <img src="https://image.tmdb.org/t/p/original/{{ b.backdrop_path }}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>{{b.original_title}}</h2>
          <p>{{b.overview}}</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- banner end  -->

<div class="contain mt-3 mb-5 p-4">

  <!-- trending movies  -->
  <div class="row">
    <h5 class="text-white">Trending Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let t of trendingMovieResult">
        <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',t.id]">
      </ng-container>

    </div>

  </div>

  <!-- action movies  -->
  <div class="row mt-4">
    <h5 class="text-white">Action Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let a of actionMovieResult">
        <img src="https://image.tmdb.org/t/p/original/{{ a.poster_path }}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',a.id]">
      </ng-container>

    </div>

  </div>

  <!-- adventure movies  -->
  <div class="row mt-4">
    <h5 class="text-white">adventure Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let a of adventureMovieResult">
        <img src="https://image.tmdb.org/t/p/original/{{ a.poster_path }}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',a.id]">
      </ng-container>

    </div>

  </div>


  <!-- animation movies  -->
  <div class="row mt-4">
    <h5 class="text-white">Animation Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let a of animationMovieResult">
        <img src="https://image.tmdb.org/t/p/original/{{ a.poster_path }}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',a.id]">
      </ng-container>

    </div>

  </div>

  <!-- comedy movies  -->
  <div class="row mt-4">
    <h5 class="text-white">Comedy Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let c of comedyMovieResult">
        <img src="https://image.tmdb.org/t/p/original/{{ c.poster_path }}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',c.id]">
      </ng-container>

    </div>

  </div>

  <!-- documentary movies  -->
  <div class="row mt-4">
    <h5 class="text-white">Documentary Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let d of documentaryMovieResult">
        <img src="https://image.tmdb.org/t/p/original/{{ d.poster_path }}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',d.id]">
      </ng-container>

    </div>

  </div>

  <!-- science-fiction movies  -->
  <div class="row mt-4">
    <h5 class="text-white">Science-Fiction Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let sf of sciencefictionMovieResult">
        <img src="https://image.tmdb.org/t/p/original/{{ sf.poster_path }}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',sf.id]">
      </ng-container>

    </div>

  </div>

  <!-- thriller movies  -->
  <div class="row mt-4">
    <h5 class="text-white">Thriller Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let th of thrillerMovieResult">
        <img src="https://image.tmdb.org/t/p/original/{{ th.poster_path }}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',th.id]">
      </ng-container>

    </div>

  </div>

</div>